<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        {% endblock %}
    </head>
    <body>
        <div class="ui secondary pointing menu">
            <a href="{{ path("home") }}" class="item active">
                Home
            </a>
            <a href="{{ path("article_create") }}" class="item">
                Ajouter
            </a>
            <div class="right menu">
                {% if app.user %}
                    <a href="{{ path("security_logout") }}" class="ui item">
                        Logout
                    </a>
                {% else %}
                    <div class="item">
                        <a href="{{ path('security_login') }}" class="ui button">
                            Login
                        </a>
                        <a href="{{ path("security_registration") }}" class="ui primary button">
                            Sign up
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        {% endblock %}
    </body>
</html>
